.fieldset{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.label{
    font-family: var(--texto);
    font-weight: bold;
}

.input{
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--vinhoEscuro);
}

.textarea{
    height: 90px;
    border-radius: 5px;
    border: 2px solid var(--vinhoEscuro);
}