.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .modalContent {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 50%;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
  }
  
  .modalHeader h2 {
    font-weight: bold;
    text-align: center;
  }
  
  .modalHeader,
  .modalMain,
  .modalFooter {
    padding: 10px;
  }
  
  .modalHeader,
  .modalFooter {
    background-color: #ccc;
  }
  
  .inativo {
    display: none;
  }
  