.containerHome{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1125&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 55%;
}

.tituloHome{
    width: 100%;
    font-family: var(--titulo);
    color: var(--vinhoEscuro);
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
