.containerDrinks{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.secaoDrinks{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.tituloDrinks{
    width: 100%;
    font-family: var(--subtitulo);
    color: var(--vinhoEscuro);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.btnDrinksPopulares{
    width: 80%;
    font-family: var(--texto);
    color: var(--gelo);
    background-color: var(--vinho);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    align-self: center;
    margin-top: 4%;
}

.btnDrinksPopulares:hover{
    background-color: var(--vinhoEscuro);
}

.textoBtn{
    color: var(--creme);
    text-decoration: none;
    align-items: center;
    text-align: center;
}
